@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(./hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.sign-btn {
  background-color: #ffec3e;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
}

.hero-text {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 5rem;
  text-align: right;
}

.hero-text h1 {
  width: 100%;
  font-size: 6rem;
  color: #ffec3e;
  margin-bottom: 1rem;
  font-weight: 700;
}

.hero-text h3 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.hero-desc {
  width: 80%;
  margin: auto;
}

.hero-desc p {
  padding-top: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.hero-text-content h3 {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: 50px;
}

.hero-desc p {
  margin: auto;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.hero-desc-span {
  color: #ffec3e;
}

.btn {
  width: 80%;
  margin: auto;
}

.join-btn {
  background-color: #ffec3e;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.group {
  color: #ffec3e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1280px) {
  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text h3 {
    font-size: 2rem;
  }

  .hero-desc p {
    font-size: 1.5rem;
  }
}
