html{
  background-color: black;
}

.filmCell {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.filmCover {
  display: flex;
  width: 40%;

}
.textInfo {
  text-align: left;
  text-justify: inter-word;
  display: flex;
  margin-left: 15px;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  
}

.horizontal {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 5px;
}

p {
  color: white;
  padding: 5px;
}

h1 {
  color: white;
  font-size: 60px;
}
h2 {
  color: white;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 5px;
}

h4 {
  color: white;
  font-size: 20px;

}