.row__posters {
    display: flex;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 08px;
    padding-right: 08px;
    overflow-Y: hidden;
    overflow-X: scroll;

}

.row__posters::-webkit-scrollbar {
    display: none;
}


.row__posters {
    object-fit: contain;
    width: 300%;
    max-height: 300px;
    margin-right: 01px;
    transition: transform 450ms;
}

.row__posters:hover {
    transform: scale(1.09);
    opacity: 1;
}

.row { 
    margin-left: 20px;
}

.row__posterLarge{
    max-height: 300px;
    margin-right: 01px;
    padding-right: 05px;
    padding-left: 05px;
    transition: transform 450ms;
}

.row__posterLarge:hover{
    transform: scale(1.09);
    opacity: 1;
   

}
